{% extends "base.html" %}
{% block css %}
    {% load static %}<link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
{% endblock css %}
{% block title %}Home{% endblock title %}
{% block img %}
<div class="front">
    <img src="{% static 'pic/front.jpg' %}">
    <div class="centered">Recipes</div>
</div>
{% endblock img %} 
{% block body %} 
<div class="row row-cols-1 row-cols-md-4 g-4">
{% comment %} <div class="box-container"> {% endcomment %}
  {% for r in ri %}
    <div class="col-3">
      <div class="card h-100" style="width: 18rem;">
        <img src="{{r.image.url}}" class="card-img-top" alt="{{r.name}}">
        <div class="card-body">
          <h5 class="card-title">{{r.name}}</h5>
            <p class="card-text">{{r.description}}</p>
          <a href="{% url 'view' r.id %}" class="btn btn-outline-success" id="bt">Read more</a>
          <a href="{% url 'edit' r.id %}" class="btn btn-outline-success" id="bt2">Edit</a>
          <a href="{% url 'delete' r.id %}" class="btn btn-outline-danger" id="bt3">Delete</a>
        </div>
      </div>
    </div>
  {% endfor %} 
</div>
{% endblock body %}
