{% extends "base.html" %}
{% block css%}
    {% load static %}<link rel="stylesheet" href="{% static 'usercss/rl.css' %}">
{%endblock css%}
{%block title%}Login{%endblock title%}
{%block body%}
    <div class="container"> 
        <form method="POST">
            {% csrf_token %}
            <h3 class="heading">Login</h3>
            {% load widget_tweaks %}
            {% include 'form.html' with form=form %}
            <button type="submit" class="btn btn-success">Login</button>
            <button class = "btn btn-secondary"><a href="{% url 'register' %}">Register</a></button>
        </form>
    </div>
{%endblock body%}