{% extends "base.html" %}
{% block css %}
{% load static %}<link rel="stylesheet" href="{% static 'usercss/rl.css' %}">
{% endblock css %}
{% block title %}Register{% endblock title %}

{% block body %}
<div class="container">
    <form method="POST" >
        {% csrf_token %}
        <h3 class="heading">Register</h3>
        {% load widget_tweaks %}
        {% include 'form.html' with form=form %}

    <button type="submit" class="btn btn-success">Submit</button><br><br>
    Already have an account?<br>
    <button class="btn btn-secondary"><a href="{% url 'login_pg' %}">Login</a></button>
    </form>
</div>
{% endblock body %}
